<launch>
	<arg name="input" default="/dev/video2"/>
        <!-- <arg name="input" default="csi://0"/>  -->
	<arg name="input_width" default="1920"/>
	<arg name="input_height" default="1080"/>
	<arg name="input_codec" default="unknown"/>
	<arg name="input_loop" default="0"/>
	<arg name="input_id_vendor" default="2a0b"/>
	<arg name="input_id_product" default="00db"/>

	<node pkg="yolov4_trt_ros" type="video_source" name="video_source" output="screen">
        	<param name="id_vendor" value="$(arg input_id_vendor)"/>
	        <param name="id_product" value="$(arg input_id_product)"/>
		<param name="resource" value="$(arg input)"/>
		<param name="width" value="$(arg input_width)"/>
		<param name="height" value="$(arg input_height)"/>
		<param name="framerate" value="30"/>
		<param name="loop" value="$(arg input_loop)"/>
		<param name="use_id" value="False"/>
	</node>

</launch>
